body {
  background-color: silver;
}
h2 {
  padding: 2rem;
  color: red;
  text-align: center;
}
.container-flag {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  .Cover-flag {
    border: 1px solid;
    background-color: lightblue;
    .flag {
      text-align: center;
    }
  }
}
